body {
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

pre,
.highlight {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
}

h4 {

}