body {
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 400;
}

h4 {

}

a[href] {
  text-decoration: none;
  background-size: 1px 1em;
  display: inline;
}

pre,
figure.highlight {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  max-width: 100%;
  overflow: auto;
}