body {
  padding: 1em;
}

#container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.outer {
  @include breakpoint($break-sm) 
  {
    display: grid;
    grid-template-columns: auto 350px;

    > section,
    > aside {

    }
  }
}

#header-outer {
  margin-bottom: 2rem;
}