@mixin themer($back, $text, $primary, $secondary)
{
  body {
    background-color: $back;
    color: $text;
  }

  a {
    color: $primary;
  }

  #header-title {
    #logo {
      background-color: $primary;
      color: $back;
    }
  }
}

// http://paletton.com/palette.php?uid=4000u0kllll04ZUaIvPvYaR%2BO0n

@include themer(#FEFEFE, #212121, #2caadc, #FFC22A);

.theme--dark {
  @include themer(#010E13, #48666A, #2caadc, #FFC22A);
}

