@mixin themer($back, $text, $primary, $secondary)
{
  body {
    background-color: $back;
    color: $text;
  }

  a[href] {
    color: $primary;
  }

  #main,
  #sidebar,
  #header-inner {
    a[href] {
      color: $primary;
      box-shadow:
        inset 0 -0.175em white,
        inset 0 -0.2em $primary;

      &:hover {
        color: $secondary;
        box-shadow:
          inset 0 -0.175em white,
          inset 0 -0.2em $secondary;
      }
    }
  }

  #header-title {
    #logo {
      background-color: $primary;
      color: $back;
    }
  }

  input {
    outline: none;
    border: 1px solid $primary;

    &:focus,
    &:hover {
      border-color: $secondary;
    }
  }

  button {
    outline: none;
    background-color: $primary;
    border: 1px solid $primary;

    &:focus,
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
}

// http://paletton.com/palette.php?uid=4000u0kllll04ZUaIvPvYaR%2BO0n

@include themer(#FEFEFE, #212121, #2caadc, #FFC22A);

.theme--dark {
  @include themer(#010E13, #48666A, #2caadc, #FFC22A);
}

