// Normalize
$base-font-size: 18px;
$base-line-height: 32px;

$h1-font-size: 2.8  * $base-font-size;
$h2-font-size: 2.5  * $base-font-size;
$h3-font-size: 2    * $base-font-size;
$h4-font-size: 1.5  * $base-font-size;
$h5-font-size: 1.2  * $base-font-size;
$h6-font-size: 1    * $base-font-size;

$normalize-vertical-rhythm: true;

// Site vars
$max-width: 1200px;

$break-sm: 768px;
$break-md: 970px;
$break-lg: 1200px;

$code-background: #f5f2f0;